* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fffaf5;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #72a6d6;
  padding: 20px 50px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fafafa;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ff6b5a;
}

.nav-links a.active {
  border-bottom: 2px solid #333;
}

.hero {
  background-color: #cab89d;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 120px 20px;
}

.hero-content h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: #ff6b5a;
  color: white;
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;

}
.btn:hover {
  background-color: #ff3f2d;
}

.environment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.left-box, .right-box {
  flex: 1;
  padding: 90px 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.left-box {
  background-color: #ccdcec;
  color: #555;
}

.right-box {
  background-color: #ff6b5a;
  color: white;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  color: #777;
  margin-top: 30px;
  border-top: 1px solid #eee;
}
